In [211]:
import pandas as pd
import pandas as pd
from pathlib import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
%matplotlib inline

In [212]:
train_df = pd.read_csv('../Resources/creditScore_train.csv')
train_df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,5634,3392,1,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,26.822620,265.0,No,49.574949,21.46538,High_spent_Small_value_payments,312.494089,Good
1,5635,3392,2,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,31.944960,266.0,No,49.574949,21.46538,Low_spent_Large_value_payments,284.629162,Good
2,5636,3392,3,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,28.609352,267.0,No,49.574949,21.46538,Low_spent_Medium_value_payments,331.209863,Good
3,5637,3392,4,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,31.377862,268.0,No,49.574949,21.46538,Low_spent_Small_value_payments,223.451310,Good
4,5638,3392,5,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,24.797347,269.0,No,49.574949,21.46538,High_spent_Medium_value_payments,341.489231,Good

In [213]:
train_df = train_df.drop(columns=['ID', 'Customer_ID', 'Month', 'Name', 'SSN','Type_of_Loan','Occupation','Type_of_Loan','Credit_Mix','Payment_of_Min_Amount','Payment_Behaviour','Credit_Utilization_Ratio','Num_of_Loan','Monthly_Balance','Amount_invested_monthly','Credit_History_Age','Outstanding_Debt','Age','Changed_Credit_Limit','Num_Credit_Card']).copy()

In [214]:
train_df.drop_duplicates(inplace=True)
train_df

,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Interest_Rate,Delay_from_due_date,Num_of_Delayed_Payment,Num_Credit_Inquiries,Total_EMI_per_month,Credit_Score
0,19114.12,1824.843333,3.0,3.0,3.0,7.0,4.0,49.574949,Good
1,19114.12,1824.843333,3.0,3.0,3.0,4.0,4.0,49.574949,Good
3,19114.12,1824.843333,3.0,3.0,5.0,4.0,4.0,49.574949,Good
4,19114.12,1824.843333,3.0,3.0,6.0,4.0,4.0,49.574949,Good
5,19114.12,1824.843333,3.0,3.0,8.0,4.0,4.0,49.574949,Good
...,...,...,...,...,...,...,...,...,...
99995,39628.99,3359.415833,4.0,7.0,23.0,7.0,3.0,35.104023,Poor
99996,39628.99,3359.415833,4.0,7.0,18.0,7.0,3.0,35.104023,Poor
99997,39628.99,3359.415833,4.0,7.0,27.0,6.0,3.0,35.104023,Poor
99998,39628.99,3359.415833,4.0,7.0,20.0,6.0,3.0,35.104023,Standard
99999,39628.99,3359.415833,4.0,7.0,18.0,6.0,3.0,35.104023,Poor

In [215]:
l_dict = {"Poor":"1", "Standard":"2", "Good":"3"}

for key, value in l_dict.items():
    train_df["Credit_Score"] = train_df["Credit_Score"].str.replace(key, value)



train_df["Credit_Score"] = train_df["Credit_Score"].astype("int")

In [216]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69625 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Annual_Income           69625 non-null  float64
 1   Monthly_Inhand_Salary   69625 non-null  float64
 2   Num_Bank_Accounts       69625 non-null  float64
 3   Interest_Rate           69625 non-null  float64
 4   Delay_from_due_date     69625 non-null  float64
 5   Num_of_Delayed_Payment  69625 non-null  float64
 6   Num_Credit_Inquiries    69625 non-null  float64
 7   Total_EMI_per_month     69625 non-null  float64
 8   Credit_Score            69625 non-null  int64
dtypes: float64(8), int64(1)
memory usage: 5.3 MB

In [217]:
X = train_df.copy()
# X.drop(columns=['ID', 'Customer_ID', 'Month', 'Name', 'SSN','Type_of_Loan','Occupation','Type_of_Loan','Credit_Mix','Payment_of_Min_Amount','Payment_Behaviour','Credit_Utilization_Ratio','Num_of_Loan','Monthly_Balance','Amount_invested_monthly','Credit_History_Age','Outstanding_Debt','Age','Changed_Credit_Limit','Num_Credit_Card'], inplace=True)
# X = X.drop_duplicates()
# X.head()
X.shape

(69625, 9)

In [218]:
y = train_df["Credit_Score"].ravel()
y[:5]

array([3, 3, 3, 3, 3])

In [219]:
y.shape

(69625,)

In [220]:
# Splitting into Train and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y,train_size = 0.001, random_state=42)

In [221]:
scaler = StandardScaler()

In [222]:
 # Fitting Standard Scaller
X_scaler = scaler.fit(X_train)

In [223]:
# Scaling data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [224]:
 # Create a random forest classifier
CreditScore_rf_model = RandomForestClassifier(n_estimators=3, random_state=42)

In [225]:
 # Fitting the model
CreditScore_rf_model = rf_model.fit(X_train_scaled, y_train)

In [226]:
 # Making predictions using the testing data
predictions = CreditScore_rf_model.predict(X_test_scaled)

In [227]:
 # Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1", "Actual 2"], columns=["Predicted 0", "Predicted 1", "Predicted 2"]
)

# Calculating the accuracy score
acc_score = accuracy_score(y_test, predictions)

In [228]:
 # Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1  Predicted 2
Actual 0        11985         7661          226
Actual 1         8038        27958         1304
Actual 2          196           24        12164

Accuracy Score : 0.7491373857036058
Classification Report
              precision    recall  f1-score   support

           1       0.59      0.60      0.60     19872
           2       0.78      0.75      0.77     37300
           3       0.89      0.98      0.93     12384

    accuracy                           0.75     69556
   macro avg       0.76      0.78      0.77     69556
weighted avg       0.75      0.75      0.75     69556

In [229]:
# Save the Model
from joblib import dump
dump(CreditScore_rf_model, 'model_CeditScore.joblib')

['model_CeditScore.joblib']